name: Release on Version Commit

on:
  push:
    branches:
      - main
    tags:
      - 'Prepare version to *'

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '14'

      - name: Get version from commit
        id: version
        run: |
          VERSION=$(echo "${GITHUB_REF}" | sed -e 's/refs\/tags\///')
          echo "version=$VERSION" >> $GITHUB_ENV

      - name: Extract Changelog Section
        id: changelog
        run: |
          # Extrai apenas a última versão do changelog com a estrutura desejada
          CHANGELOG_SECTION=$(awk "/^## / {flag=0} /^## ${{ env.version }}/ {flag=1} flag" CHANGELOG.md)
          
          # Remove seções vazias e mantém apenas seções com conteúdo
          FORMATTED_CHANGELOG=$(echo "$CHANGELOG_SECTION" | awk 'BEGIN {ORS="\n"} /^### / {section=$0; flag=0} !/^### / && NF {flag=1} flag {print (flag && !/^### / ? section "\n" : "") $0; section=""; flag=0}')

          echo "body=$FORMATTED_CHANGELOG" >> $GITHUB_ENV

      - name: Create GitHub Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: "${{ env.version }}"
          release_name: "Release ${{ env.version }}"
          body: "${{ env.body }}"
          draft: false
          prerelease: false
